:root{
    --siteColor:#A5C323;
    --siteDark:#393839;
    --siteGray:#818181;
    --borderColor:#EDEEEE;
}

.text-site{
    color:var(--siteColor);
}
.text-gray{
    color:var(--siteGray)
}

.text-siteDark{
    color:var(--siteDark);
}

.bg-site{
    background-color: var(--siteColor);
}

.fs-8{
    font-size:.7rem;
}
.fs-9{
    font-size: .8rem;
}
.fs-sm{
    font-size:.6rem;
}

.parentContainer{
    width:95%;
}

.border-site{
    border-right:none;
}
.borderHeader{
    border-bottom:1px solid var(--borderColor);
}

.navbar-nav .nav-link.active{
    color:var(--siteColor) !important;
}

.navbar {
    --bs-navbar-nav-link-padding-x:1.5rem;
}

.last{
    padding: .8rem 1rem;
    margin-top:.5rem;
}


@media screen and (min-width:992px){
    .parentContainer{
        width:80%;
    }

    .border-site{
        border-right:1px solid var(--borderColor);
    }

    .last{
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        margin-top:0;
    }
    
}