:root{
    --siteColor:#A5C323;
    --siteDark:#393839;
    --siteGray:#818181;
    --borderColor:#EDEEEE;
    --sectiobbg:#F5F4F6;
}

.text-site{
    color:var(--siteColor);
}
.text-gray{
    color:var(--siteGray)
}

.text-siteDark{
    color:var(--siteDark);
}

.bg-site{
    background-color: var(--siteColor);
}

.bg-siteDark{
    background-color: var(--siteDark);
}

.bg-siteSecondary{
    background-color:#4165AC;
}

.fs-8{
    font-size:.7rem;
}
.fs-9{
    font-size: .8rem;
}
.fs-sm{
    font-size:.6rem;
}

.parentContainer{
    width:95%;
}

.border-site{
    border-right:none;
}
.borderHeader{
    border-bottom:1px solid var(--borderColor);
}

.nav{
    z-index: 3;
}
.navbar-nav .nav-link.active{
    color:var(--siteColor) !important;
}

.navbar {
    --bs-navbar-nav-link-padding-x:1.5rem;
}

.last{
    padding: .8rem 1rem;
    margin-top:.5rem;
}
 
.homeCaption{
    background-size: cover;
    background-position: center center;
    height: 98vh;
}
.homeCaption1{
    background-image:linear-gradient(rgba(133,133,133.15),rgba(133,133,133,.2)) ,url("../images/slider1.jpg");
}
.homeCaption2{
    background-image:linear-gradient(rgba(133,133,133.15),rgba(133,133,133,.2)) ,url("../images/slider2.jpg");
}
.homeCaption3{
    background-image:linear-gradient(rgba(133,133,133.15),rgba(133,133,133,.2)) ,url("../images/slider3.jpg");
}

.carousel-indicators [data-bs-target]{
    width:10px;
    height: 10px;
    border-radius: 50%;
}

.btnHover{
    position: relative;
    transition: position 1s;
}

.btnHover:hover{
    background-color: var(--borderColor);
    color:var(--siteDark) !important;
    top:-8px;
}

.bg-about{
    background-color: var(--sectiobbg);
}

#About{
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-position: center top;
}

@media screen and (min-width:992px){
    .parentContainer{
        width:80%;
    }

    .border-site{
        border-right:1px solid var(--borderColor);
    }

    .last{
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        margin-top:0;
    }
    
}